// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*.card {
  width:200px;
}*/

h2{
  color:white;
}

.movie_num {
  position: relative;
  top: -160px;
  right: -900px;
  background-color: rgb(212, 212, 112);

  font-weight:bold;

}

.movie-content {
  padding:10px;
}
a {
  text-decoration:none;
}

#btn-red {
  color:red;
}
