// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*.card {
  width:200px;
}*/

h2{
  color:white;
}

.movie_num {
  position: relative;
  top: -160px;
  right: -900px;
  background-color: rgb(212, 212, 112);

  font-weight:bold;

}

.movie-content {
  padding:10px;
}
a {
  text-decoration:none;
}

#btn-red {
  color:red;
}

.simple_form {
  width:300px;
  background-color: rgb(226, 74, 120);
  padding: 10px;
  margin-bottom: 10px;


  input[type="submit"] {
    background-color: rgb(230, 230, 88);
    padding: 10px;
    margin: 20px 0 10px 0;
  }
}
